* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;

}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.container {
  width: '100%';
}

#root {
  height: 100%;
  background: #FAFAFA !important;
}

.ql-container.ql-snow {
  border: none !important;
}

.ql-editor p, ul {
  margin-bottom: 1rem !important;
}

.applyPreview .ql-editor {
  padding: 12px 8px;
}